!!!5
%html
  %head
    %style(type='text/css')
      :sass
        #dropzone
          background: #f0f0f0
          min-height: 200px
          font-weight: bold
          padding: 20px 40px
          margin: 20px auto
          border: 2px dashed black
          border-radius: 7px  
          -webkit-border-radius: 7px  
          -moz-border-radius: 7px  
          cursor: default  
          h1
            margin: 0 0 20px
          ul, li, p
            list-style-type: none
            margin: 10px 0
            padding: 0
          li
            padding: 10px 0
            clear: both
          ul
            img
              float: left
              margin-right: 10px
              vertical-align: middle
              width: 100px
            span
              color: red
              font-weight: bold
        #dropzone.dz_hover 
          color: #f00  
          border-color: #f00  
          border-style: solid  
          box-shadow: inset 0 3px 4px #888  
          -moz-box-shadow: inset 0 3px 4px #888  
          -webkit-box-shadow: inset 0 3px 4px #888  

  %body
    %form(id='upload' action='upload' method='post' enctype='multipart/form-data')
      #dropzone 
        %h1 Drag and drop files here
        //%ul#files
      -#
        %input(type='file' name='fileselect[]' multiple='multiple' id='fileselect')
        #submitbutton
          %button(type='submit') upload
        %progress(min="0" max="100" value="0") 0% complete
    %script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js')
    :javascript
      function log(msg){
        if (typeof console!='undefined') {
          try { console.log(msg);  }
          catch(e) {}
        }
      }
      (function($) {
        $.fn.dropzone = function(options) {

          var settings = $.extend({
            'hoverClass' : 'dz_hover'
          }, options);

          if (!(window.File && window.FileList && window.FileReader)) {
            alert("Sorry, your browser doesn't support this demo. Try Chrome or Firefox.");
          } else {
             //var $fileselect = $("#fileselect");
             //var $submitbutton = $("#submitbutton");  
             var $dropzone = this; 
             var $filelist = $("<ul></ul>");
             $dropzone.append($filelist);

             var reader = new FileReader();

             function dropzoneHover(e) {
               // need to stopPropagation of 'dragover' event, or 'drop' event won't fire in some browsers.
               (e.type=='dragover' ? $(e.target).addClass(settings['hoverClass']) : $(e.target).removeClass(settings['hoverClass']));
               e.stopPropagation();
               e.preventDefault();
             }

             // file drop  
             $dropzone
               .bind("dragover", dropzoneHover)  
               .bind("dragleave", dropzoneHover)  
               .bind('drop', function(e){
                 // cancel event and hover styling  
                 dropzoneHover(e);
                 var oe = e.originalEvent;
                 // fetch FileList object  
                 var files = (oe.target.files || oe.dataTransfer.files);
                 $.each(files, function(i,file){
                   reader.readAsDataURL(file);
                   // callback when reader finishes parsing the file
                   reader.onload = function(){
                     var dataUrl = reader.result;
                     var $preview = $("<li></li>");
                     // if it's an image, show a preview
                     if (file.type.indexOf('image')==0) {
                       $preview.append($("<img src='"+dataUrl+"' />"));
                     }
                     // show file name, type, and size 
                     $preview.append($("<p><strong>"+file.name
                       +"</strong> ("
                       +(file.type)+", "+Math.round(file.size/1000)
                       +" kb)</p>"));// <br /><span class='status'></span></p>"));
                     // container for status messages (e.g. 'uploaded')
                     var $fileStatus = $("<p></p>");
                     $preview.append($fileStatus);
                     // append the preview to $filelist
                     $filelist.append($preview);

                    /* UPLOADING */
                    // make sure the data loaded is long enough to represent a real file.
                    if (dataUrl.length > 128) {
                      // per the Data URI spec, the only comma that appears is right after 
                      // 'base64' and before the encoded content.
                      var base64StartIndex = dataUrl.indexOf(',') + 1;
                      $fileStatus.html("UPLOADING...").show();
                      $.ajax({
                        type: 'POST',
                        url: '/upload',
                        data: {
                          'file': {
                            'name': file.name,
                            'size': file.size,
                            'data': dataUrl.substring(base64StartIndex) // Base64 content 
                          }
                        },
                        timeout: 60000, // 1 min timeout
                        success: function(data){
                          $fileStatus
                            .html("UPLOADED! View your file <a target='_blank' href='"+data+"'>here</a>.")
                            .css('color', 'green');
                        },
                        error: function(xhr, txtStatus, error) {
                          //$(".status:last")
                          $fileStatus
                            .html("[" + error + "]");
                        }
                      })
                    }
                  }



                     /*
                     // upload
                     var xhr = new XMLHttpRequest();
                     if (xhr.upload) {
                       var data = new FormData(); // not supported in firefox 3.6.  grrrr.
                       data.append('customfield', 'this is some data');
                       // start upload  
                       xhr.open("POST", $("#upload").attr('action'), true);  
                       xhr.setRequestHeader("X_FILENAME", file.name);  
                       xhr.send(file);  
                     }
                     */
                 });
                 return false;
               })
               .show();
            }  
          };
        })( jQuery );
      $(document).ready(function(){
      $('#dropzone').dropzone();
      });
